html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: auto;
}

iframe {
    overflow: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
